body {
    margin: 0;
}

#wrap {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 10px);
    width: 72px;
    background-color: #202225;
}
#me:hover > .title {
    height: fit-content;
    width: fit-content;
    background-color: #191A1D;
    color: white;
}
#me {
    display: flex;
    position: relative;
    height: 48px;
    width: 48px;
    border-radius: 30%;
    background-image: url("img/Discord.png");
    background-size: 80%;
    background-repeat:no-repeat;
    background-position: 5px 10px;
    background-color: #5865F2;
}

#me::before {
    content: ' ';
    height: 40px;
    width: 4px;
    margin-left: -11px;
    margin-top: 4px;
    border-radius: 0 5px 5px 0;
    background-color: white;
}

#breaker {
    height: 3px;
    width: 32px;
    border-radius: 3px;
    background-color: #373A3F;
    margin: 8px 0;
}

.server {
    transition: linear 0.1s;
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: gray;
}

.server:hover {
    border-radius: 30%;
}

.server:not(:last-child) {
    margin-bottom: 8px;
}

#egirl {
    background-image: url("img/egirl.jpg");
    background-size: cover;
}

#valorant {
    background-image: url("img/valorant.jpg");
    background-size: cover;
}

.server::before {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: 20px;
    content: ' ';
    transition: linear 0.1s;
}

.server:hover::before {
    transition: linear 0.1s;
    content: ' ';
    height: 20px;
    width: 4px;
    margin-left: -11px;
    margin-top: 12px;
    border-radius: 0 5px 5px 0;
    background-color: white;
}